@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
*{
  width: 1400px;
  padding: 10px;
  
}

div {
  border: 1px solid silver;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 1px;

  background-color:rgba(192, 192, 192, 0.705);
  text-align: center;
}
article{
  
  border: 1px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 12px;
  margin-bottom: 12px

}
.g1{
  padding-left: 8px;
}
.g2{
  padding-left: 8px;
}
