.container {
  height: 200px;
  width: 200px;
  background: #000;
}

button {
  position: absolute;
  bottom: 0;
}

.firstContainer {
  position: relative;
  height: 300px;
  width: 100%;
  background: white;
}
